*{
    margin: 0px;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
}
h1{
    margin: 5px;
    font-size: 100px;
    
}
.Links{
    font-size: 2rem;
    margin-top: 15px;
}
