.head{
    width: 100%;
    height: 5rem;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
.navBar{
    width: 100%;
    height: 3rem;
    border: 1px solid black;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}
.navBar a{
    text-decoration: none;
    color: black;
}
.mainContent{
    width: 100%;
    height: 30rem;
    border: 1px solid black;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.toDoList{
    width: 49%;
    height: 28rem;
    border: 1px solid black;
}
.addORdelet{
    width: 49%;
    height: 28rem;
}
.box{
    width: 100%;
    height: 13rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#Items{
    width: 100%;
    height: 10rem;
    border: 1px solid black;
    margin-bottom: 0px;
}
#addList{
    margin: 1rem 0px 5px 0px;
}
#deletedItem{
    margin: 5px 0px 1rem 0px;
}